{% extends "bootstrap/base.html" %}

{% block title %}My App{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/">home</a>
    <ul class="nav navbar-nav">
        <li><a href="/things">things</a></li>
        <li><a href="/login">login</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

    <h1>{{title}}</h1>
    <hr>
<!-- flash message section-->
    {% with messages = get_flashed_messages() %}

      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}

    {% endwith %}
<!-- end flash message section-->


</div>
    {% block sub_content %}

    {% endblock %}

  </div>

{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}
