{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{super()}}
  <link rel="shortcut icon" href="static/fatbaby.ico">
  <link rel="apple-touch-icon" href="static/fatbaby.ico">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="static/fatbaby.ico">
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="static/mystyle.css">
{% endblock %}



{% block title %}fatbaby{% endblock %}

{% block navbar %}
<!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Fatbaby</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="active"><a href="/">Daily Rollup</a></li>
            <li><a href="/wetdiapers">diapers</a></li>
            <li><a href="/feedings">feedings</a></li>
            <li><a href="/breastfeedings">breast feedings</a></li>
            <li><a href="/naps">naps</a></li>
            <li><a href="/weighings">weight</a></li>
            <li><a href="/record">record</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

           {% if g.user %}
            <li><a href="/logout">Not {{g.user.name}}?</a></li>
           {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% endblock %}

{% block content %}



<div class="container">

{% if g.timeAsleep %}
  <p>Layla's been sleeping for
  {% if g.timeAsleep.hours %}
    {{g.timeAsleep.hours}} hours,
  {% endif %}
  {% if g.timeAsleep.minutes %}
    {{g.timeAsleep.minutes}} minutes.
  {% endif %}
  </p>
{% endif %}
{% if g.timeSinceLastSleep %}
  <p>Layla's been awake for
  {% if g.timeSinceLastSleep.hours %}
    {{g.timeSinceLastSleep.hours}} hours,
  {% endif %}
  {% if g.timeSinceLastSleep.minutes %}
    {{g.timeSinceLastSleep.minutes}} minutes.
  {% endif %}
  </p>
{% endif %}

  <div class="jumbotron">
    <h1>{{title}}</h1>
      {% block sub_content %}
      {% endblock %}
  </div>


<!-- flash message section-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="jumbotron">
          <ul>
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
<!-- end flash message section-->

</div>

{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}
