{% extends "bootstrap/base.html" %}

{% block title %}fatbaby{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/">home</a>
    <ul class="nav navbar-nav">
        <li><a href="/dirtydiapers">dirty diapers</a></li>
        <li><a href="/wetdiapers">wet diapers</a></li>
        <li><a href="/feedings">feedings</a></li>
        <li><a href="/naps">naps</a></li>
        <li><a href="/weighings">weight</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

    <h1>{{title}}</h1>
    <hr>
<!-- flash message section-->
    {% with messages = get_flashed_messages() %}

      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}

    {% endwith %}
<!-- end flash message section-->


</div>

    {% if g.user %}
      <p>USER is {{g.user.name}}</p>
    {% endif %}

    {% block sub_content %}

    {% endblock %}

  </div>

{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}
