{% extends "base.html" %}

{% block sub_content %}
<h1>Today's Events</h1>
<table class="table">
<thead>
    <tr>
        <th>time</th>
        <th>event</th>
    </tr>
</thead>
    {% for event in objects %}
        <tr>
            <td>{{event.time.strftime('%H:%M')}}</td>
            {% if event.type=='Weighings' %}
                <td>Weighed in at {{event.pounds}} pounds, {{event.ounces}} ounces</td>
            {% endif %}
            {% if event.type=='Feedings' %}
                <td>ate {{event.ounces}} ounces from bottle</td>
            {% endif %}
            {% if event.type=='BreastFeedings' %}
                <td>breast fed</td>
            {% endif %}
            {% if event.type=='WetDiapers' %}
                <td>wet diaper</td>
            {% endif %}
            {% if event.type=='DirtyDiapers' %}
                <td>dirty diaper</td>
            {% endif %}
            {% if event.type=='NapStarts' %}
                <td>started nap</td>
            {% endif %}
            {% if event.type=='Wakings' %}
                <td>woke up</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}